<form action="/result" method="GET">
	<div class="input-group pull-right"  style="max-width:180px">
    	<input type="text" name="search" class="form-control" placeholder="Search again" action="/result" method="GET">
    	<span class="input-group-btn">
     		<input class="btn btn-default" type="submit" value="Go">
    	</span>
	</div>
</form>
<br>
<br>
{{#if noResults}}
	<h2 class="text-center">No Results Found</h2>
{{else}}
	<h2 class="text-center">Results for "{{query}}"</h2>
	<br>
	<p class="text-center">{{numResults}} results</p>
	<br>
	<ul>
		{{#each results}}
			<div class="container">
				<li>
					<div class="panel panel-default">
						<div class="panel-body">
								<p>
									{{preText}}
									{{{text}}}
									{{postText}}
								</p>
						</div>
						<div class="panel-footer">
							<em>{{book}}</em>
						</div>
					</div>
				</li>
			</div>
			<br>
			<br>
		{{/each}}
	</ul>
{{/if}}
