{{#if noResults}}
	<h2 class="text-center">No Results Found</h2>
{{else}}
	<h2 class="text-center">Results for "{{query}}"</h2>
	<br>
	<p class="text-center">{{numResults}} results</p>
	<br>
	<ul>
		{{#each results}}
			<div class="container">
				<li>
					<div class="panel panel-default">
						<div class="panel-body">
								<p>
									{{preText}}
									{{{text}}}
									{{postText}}
								</p>
						</div>
						<div class="panel-footer">
							<em>{{book}}</em>
						</div>
					</div>
				</li>
			</div>
			<br>
			<br>
		{{/each}}
	</ul>
{{/if}}
